
// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Nunito:300,400,600,700,800,900|Roboto+Slab:300,400,700&display=swap');

// Variables
@import 'variables';
@import 'res';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all';

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.ul-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ul-nav li a {
  color: #fff;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.card-box{
  padding: 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #fff;

  &--temp {
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

    &__thermo {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      background-color: #EC6F69;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 36px;
    }
  }

  &--kandang {
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    background-color: white;
    margin-bottom: 10px;

    &__img img {
      max-height: 128px;
    }
  }

  &__title {
    font-family: $font-lato;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 8px;
  }

  &__tanggal {
    padding: 10px;
    background-color: #EC6F69;
    color: white;
    border-radius: 5px;
  }

  &--pembeli {
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: white;
    border-radius: 5px;
    transition: all .2s ease-in;

    a.btn {
      display: none;
    }

    &:hover {
      background-color: white;
      box-shadow: 0 0 12px 12px #eee;
      transform: translateY(-.7rem) scale(1.03);

      a.btn {
        display: block;
      }
    }

    &__title {
      font-family: $font-lato;
      color: #3a3a3a;
      font-size: 16px;
      line-height: 34px;
      text-transform: capitalize;
      font-weight: 700;
    }

    &__price {
      font-size: 16px;
      font-weight: 400;
      color: #ddaf03;
      line-height: 34px;
      margin-bottom: 10px;

      span {
        text-transform: uppercase;
        font-weight: 300;
        color: #535353;
      }
    }

    &__img {
      margin-bottom: 10px;

      img {
        max-height: 140px;
      }
    }
  
  }
}

.card-box--keterangan {
  padding: 20px;
  margin: 10px 0;
  background-color: #ebebeb;
  color: black;
  border-radius: 5px;
}

.card-box--user {
  padding: 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;  
}

.widget-user img {
  max-height: 128px;
}

.card {
  margin-bottom: 10px;
}

.title-kandang {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) and (min-height: 320px) {
    .card-box {
      &--kandang {
      flex-direction: column;
      }
    }

    .card-box__tanggal {
      margin-bottom: 10px;
    }

    .title-kandang {
      flex-direction: column;

      &h4, a{
        margin-bottom: 10px;
      }
    }
}

@media only screen and (min-height: 320px) {
  .card-box--pembeli__img img {
      max-height: 120px;    
  }
}

@media only screen and (max-height: 991px) and (min-height: 786px) {
  .card-box--pembeli__img img {
      max-height: 90px;    
  }

  .card-box--pembeli__price {
    font-size: 14px;
  }
}
